<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<title>Inserir Aluno</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="textoNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/dashboard}"><i class="fa fa-home"></i>Home<span
								class="sr-only">(Página atual)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"><i
								class="fa fa-user"></i>Aluno</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/aluno/editar}"> <i
									class="fa fa-pencil-square"></i>Editar</a>
							<a class="dropdown-item" th:href="@{/aluno/deletar}"> <i class="fa fa-trash"></i>Excluir</a>
							<a class="dropdown-item" th:href="@{/aluno/inserir}"> <i
									class="fa fa-graduation-cap"></i>Inserir</a>
							<a class="dropdown-item" th:href="@{/aluno/listar}"> <i class="fa fa-search"></i>Listar</a>
						</div>
					</li>
				</ul>
				<span class="navbar-text">
					<div class="collapse navbar-collapse" id="textoNavbar">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Sair</a>
							</li>
						</ul>
					</div>
				</span>
			</div>
		</nav>
	</header>
	<div class="container">
		<h2 class="text-center">Listar alunos</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center" scope="col">Nome</th>
					<th class="text-center" scope="col">Curso</th>
					<th class="text-center" scope="col">Matrícula</th>
					<th class="text-center" scope="col">CPF</th>
					<th class="text-center" scope="col">Status</th>
					<th class="text-center" scope="col">Turno</th>
					<th class="text-center" scope="col">Alterar</th>
					<th class="text-center" scope="col">Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="aluno : ${alunos}">
					<td class="text-center" th:text="${aluno.nome}"></td>
					<td class="text-center" th:text="${aluno.curso}"></td>
					<td class="text-center" th:text="${aluno.matricula}"></td>
					<td class="text-center" th:text="${aluno.cpf}"></td>
					<td class="text-center" th:text="${aluno.status}"></td>
					<td class="text-center" th:text="${aluno.turno}"></td>
					<td class="text-center">
						<a class="btn btn-secondary" th:href="@{/aluno/alterar/{id}(id=${aluno.id})}">
							<i class="fa fa-pencil-square"></i>
						</a>
					</td>
					<td class="text-center">
						<a class="btn btn-danger" th:href="@{/aluno/excluir/{id}(id=${aluno.id})}">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>

			</tbody>
		</table>


	</div>

	<footer class="bg-primary text-center text-lg-start">
		<!-- Grid container -->
		<!-- Copyright -->
		<div class="text-center p-3" style="color: #fff; font-weight: bold;">
			© 2024 Copyright: SENAC

		</div>
	</footer>

</html>